<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<main>
    {{>header}}
    <p>This site was made by Andrew Danish. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="img/img1.jpg">
</main>
    
    {{>footer}}
</body>
</html>